@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

/*  Global */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-font: 'Montserrat', sans-serif;
}

body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-sizing: border-box;
  font-family: var(--main-font);
  color:  var(--main-font-color);
  background: #f6f5f7;
  height: 100vh;
}

h1 {
  font-weight: 800;
  color: #536976;
}

p {
  letter-spacing: 0.5px;
  margin: 20px 0;
}

span {
  font-size: 0.9em;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 0.9em;
  margin: 20px 0;
}

.container {
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  overflow: hidden;
}

/* form */

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  background: #fff;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 10px 15px;
  margin: 5px 0;
  width: 100%;
}

button {
  border-radius: 20px;
  border: 1px solid #536976;
  background: #536976;
  color: #fff;
  padding: 10px 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 80ms ease-in; 
}

button:active {
  transform: scale(0.95);
}

button:hover {
  background: transparent;
  border: 1px solid #536976;
  color: #536976;
}

button span {
  display: block;
}

.hide-right {
  transform: translateX(30%);
  transition: transform 0.3s ease-in-out;
  animation: hide 0.3s;
  opacity: 1;
}

.hide-left {
  transform: translateX(-30%);
  transition: transform 0.3s ease-in-out;
  animation: hide 0.3s;
  opacity: 1;
}

button.ghost {
  background: transparent;
  border-color: #fff;
}

button.ghost:hover {
  background: #fff;
  color: #536976;
}

/* Overlay */

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
  overflow: hidden;
}

.overlay {
  position: relative;
  left: -100%;
  background: #314755;
  background: linear-gradient(to right, #BBD2C5, #536976,#292E49) no-repeat 0 0 / cover;
  color: #fff;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 50px;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel h1 {
  color: #fff;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}

/* sign-up-active */

/* Move sign-in-container to the right side */
.container.sign-up-active .sign-in-container {
  transform: translateX(100%);
}

/* Move overlay-right to the left side */
.container.sign-up-active .overlay-container {
  transform: translateX(-100%);
}

/* Move sign-up-container to right side */
.container.sign-up-active .sign-up-container {
  transform: translateX(100%);
  animation: show 0.3s;
  opacity: 1;
  z-index: 5;
}

/* Move overlay to the right */
.container.sign-up-active .overlay {
  transform: translateX(50%);
}

.container.sign-up-active .overlay-left {
  transform: translateX(0%);
}

.container.sign-up-active .overlay-right {
  transform: translateX(20%);
  visibility: hidden;
  transition: all 0.3s ease-in;
}

/* keyframes */

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0.8;
  }

  40% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}

